body {
    
}
h1 {
 
}
h2 {
    margin-top: -4px;
}
#player1, #player2 {
    float: left;
    position: relative;
    background-color: #ddd;
    border: 1px black solid;
    margin: 2%;
    padding: 1%;
    width: 40%;
    height: 260px;
}
#result {
    position: absolute;
    top: 0;
    right: 46%;
    width: 9%;
    background-color: cadetblue;
    padding: 1%;
    margin: 1%;
    color: #fff;
    text-align: center;
}
#chat {
    border: aqua 2px solid;
    background-color: antiquewhite;
    width: 450px;
    height: 200px;
    clear: both;
    margin: auto;
}
#chat-history {
    overflow: auto;
    width: 98%;
    height: 160px;
    margin: -10px 0 0 10px;
}
.buttons {
    text-align: center;
}
button {    
    margin-bottom: 15px;
}
button.play {
    font-size: large;
}
#new-game-button {    
    display: block;
    font-size: large;
    margin: 10% 0;
    width: 100%;
}
#player2 .name, #player2 .score {
    text-align: right;
}
.score {
    position: absolute;
    bottom: 3px;
}
#player2 .score {
    right: 10px;
}
/* got this from csstricks.com */
#player2 img.hand-image {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* responsive styles! */
@media screen and (max-width: 750px) {
   
}
